*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: -webkit-linear-gradient(left,black , grey,black); 
    height: 100vh;

}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
    margin-right: 40pxs;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 0.2px;
    transition: 0.5s ease;
}

ul li a:hover{
    color: rgba(255, 255,255, 0.75);

}
ul li a.active{
    border-bottom: 2px solid #cd99dc;
}
ul li a.download{
    border: 1px solid #fff;
    padding:  2px 20px;
    border-radius: 3px;
    color: #fff;
}

ul li a.download:hover{
background-color: #fff;
color: black;

}
.logo img{
    float: left;
    position: absolute;
    top: 27px;border-radius: 4px;
    padding: 5px;
    width: 50px;

}


  .main{
      max-width: 1200px;
      margin: auto;
  }
  .title{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);

  }
  .title h1{
      color: #fff;
      font-size: 55px;
      font-weight: 300;
      letter-spacing: -1px;
  }
  .title p{
      color:#ffb8f6;
      font-size: 18px;
      text-align: center;
  }
  .image{
      position: absolute;
      top: 71%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 0%;
      padding-bottom: 27%;
      overflow: hidden;
  }